/* PC */
@media (min-width: 64em) {}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 5px 12px;
    }

    #content .place-buy-btn {
        padding: 16px 16px;
    }

    .contact-info {
        line-height: 2.0;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    #footer {
        font-size: 32px;
    }

    #footer .social-network a {
        font-size: 28px;
        margin: 0 12px;
    }

    #footer .source a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .contact-info {
        line-height: 2.0;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {

    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav>li,
    #nav li a {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #header .search-btn {
        display: none;
    }

    #mobile-menu {
        display: block;
    }

    .contact-form {
        margin-top: 32px;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
}